@import "../../../../styles/variables";

.button {
	color: $white-color;
	background-color: $red-color;
	box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	border: none;
	font-weight: bold;
	font-size: 20px;
	padding: 18px 46px;
	line-height: 151.2%;
	cursor: pointer;

	&:hover {
		color: $red-color;
		background-color: $white-color;
		transition: 0.5s;
	}
	&:active {
		box-shadow: none;
	}
}
