@import "../../../styles/variables";

.input {
	color: $white-color;
	border: none;
	background-color: transparent;
	width: 100%;
	padding: 5px 0;
	border-bottom: 2px solid $red-color;
	outline: none;
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 130%;
	&::placeholder {
		color: $grey-color;
		font-size: 16px;
		line-height: 13;
		padding-left: 2px;
		padding-bottom: 6px;
	}
	margin-bottom: 30px;
}

.input + .input {
	margin-top: 0;
}
