@import './variables';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Montserrat', sans-serif;
}

body {
  box-sizing: border-box;
  background-color: $white-color;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: $dark-grey-color;
}

::-webkit-scrollbar-thumb {
  background-color: $red-color;
  border-radius: 0.5rem;
}