$white-color: #fff;
$blue-color: #6784ff;
$red-color: #ff8a62;
$grey-color: #C2C2C2;
$light-grey-color: #F3F3F3;
$dark-grey-color: #222222;
$black-color: #000;

$main-shadow-color: rgba(0, 0, 0, 0.1);
