@import "../../styles/variables.scss";

.select {
	&__wrapper {
		width: 300px;
	}

	&__head {
		border-bottom: 2px solid $red-color;
		padding: 10px 2px;
		background-color: transparent;
		display: flex;
		color: $grey-color;
		font-weight: 600;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
	}

	&__context {
		position: absolute;
		width: 300px;
		background: $light-grey-color;
		color: $white-color;
		overflow-y: auto;
		text-align: justify;

		&::-webkit-scrollbar {
			width: 1rem;
			background-color: transparent;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $red-color;
			max-height: 5rem;
			border-radius: 1rem;
		}

		&__item {
			padding: 10px 10px;
			cursor: pointer;
			font-weight: 600;
			font-size: 16px;
			line-height: 180%;
			color: $dark-grey-color;

			&:hover {
				background-color: $white-color;
				color: $blue-color;
			}
		}
	}
}
