@import "../../styles/variables";

body {
	background-color: $dark-grey-color;
}

.container {
	color: $white-color;
	max-width: 1370px;
	padding: 0 15px;
	margin: 0 auto;
	.wrapper {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		text-align: center;
		margin-top: 30vh;
		.left__side {
			margin-bottom: 40px;
			&-header {
				font-size: 80px;
				font-weight: bold;
				line-height: 180%;
			}
			&-title {
				font-size: 24px;
				font-weight: bold;
				line-height: 180%;
				margin-bottom: 10px;
			}
			&-subtitle {
				font-size: 16px;
				font-weight: normal;
				line-height: 180%;
			}
		}
	}
}
